<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160384389604-pqkrn5cfmsbabd0scqlar5pvsbtpk1bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160384389604-pqkrn5cfmsbabd0scqlar5pvsbtpk1bi</string>
	<key>API_KEY</key>
	<string>AIzaSyBvD_RjrlhAjIKQg9lziSeYhLqwSpgqrcE</string>
	<key>GCM_SENDER_ID</key>
	<string>160384389604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.organizationChatApp</string>
	<key>PROJECT_ID</key>
	<string>exercise-4518e</string>
	<key>STORAGE_BUCKET</key>
	<string>exercise-4518e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160384389604:ios:546c8ed794e8a920eb77f1</string>
    <!-- Google Sign-in Section -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <!-- TODO Replace this value: -->
                <!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
                <string>com.googleusercontent.apps.160384389604-pqkrn5cfmsbabd0scqlar5pvsbtpk1bi</string>
            </array>
        </dict>
    </array>
    <!-- End of the Google Sign-in Section -->
</dict>
</plist>
